# Mac OS specific
.DS_Store

# Text editor temp files
*~

# Sensitive info
.env*
!.env.example
/lib/capistrano/templates/env*
!/lib/capistrano/templates/env.example
/lib/capistrano/templates/database.yml.erb
!/lib/capistrano/templates/database.yml.erb.example

# Log files
/log/*

# tmp files
/tmp/*

# Sass
*.sassc
.sass-cache

# Bundle
/vendor/bundle
/.bundle

# rvm/rbenv
.rvmrc
.ruby-gemset
# .ruby-version
