<% if object.errors.any? %>
  <div class="error-messages">
    <div class="alert alert-error">
      <h4>
        <%= pluralize(object.errors.count, "error")%>
        prohibited this <%= object.class.to_s.underscore.humanize.downcase %> from being saved:
      </h4>
      <ul class="error-list">
      <% object.errors.full_messages.each do |m| %>
        <li><i><%= m %></i></li>
      <% end %>
      </ul>
    </div>    
  </div><!-- .top-buffer -->
<% end %>