<h3>In the news</h3>

<p>
  <code>April 30, 2013</code>
  &nbsp;
  <%= link_to "Developers dive in to create a wealth of autism apps", "http://www.latimes.com/business/la-fi-apple-autism-20130430,0,2782344.story" %>
  <span class="muted">( latimes.com )</span>
</p>

<p>
  <code>April 22, 2013</code>
  &nbsp;
  <%= link_to "Miss Montana: How apps can help hack autism", "http://www.cnn.com/2013/04/22/opinion/opinion-keen-autism-wineman/index.html" %>
  <span class="muted">( cnn.com ) &ndash;</span>
  <span class="muted">RevTilt was originally called "Puzzled"</span>
</p>

<p>
  <code>April 19, 2013</code>
  &nbsp;
  <%= link_to "AT&T-Autism Speaks Mobile App Hackathon Winners", "http://blog.sfgate.com/lshumaker/2013/04/19/att-autism-speaks-mobile-app-hackathon-winners/" %>
  <span class="muted">( sfgate.com ) &ndash;</span>
  <span class="muted">RevTilt was originally called "Puzzled"</span>
</p>
