/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.inline{
	display:inline;
}

.center {
	text-align:center;
}

.add-small-top{
	margin-top: 7px;
}

.footer{
	margin-bottom:20px;
}

$subtle_grey:#999;
$subtle_grey_hover:#555;

#copyright{
	color: $subtle_grey;
}

ul.horizontal{
	list-style-type: none;
	margin:0;
	li{
		display: inline;
		padding-left: 10px;
		&:first-child{
			padding-left:0px;
		}
	}
}