// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth_links {
	padding-top:15px;
}

.one-line{
	white-space:nowrap;
}

.welcome-question {
	font-family: Arial;
	font-size: 28px;
	margin-top: -3px;
	padding-left: 35px;
	color: #FAFAFA;
}

.header_bar {
	background-color: #52a8ff;
	padding-top: 20px;
	margin-bottom: 15px;
}

#header_logo {
	height: 46px;
	position: relative;
	top: -8px;
	left: 20px;
}

.slogan {
	font-size:18px;
	font-style: italic;
}

.small-padding {
  padding-left: 3px !important;
  padding-right: 3px !important;
}