<div class="add-small-top pull-right">
  <%= link_to "Share an Organization",
              new_organization_path,
              :class => 'btn btn-primary' %>
</div>
 
<h1>Organizations</h1>
<br />

<% if @organizations.blank? %>
  <div class="alert alert-box alert-danger">
    <span class="label label-danger">Uh oh!</span>
    There are no organizations that meet these criteria yet! Be the first to contribute. Click <%= link_to "here", new_organization_path %>.
  </div>
<% else %>
  <%= render "table", :organizations => @organizations, :with_join_columns => true %>
<% end %>
