<%- model_class = Organization -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<br />

<%= render "table", :organizations => @organizations %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_organization_path,
            :class => 'btn btn-primary' %>
